{% extends "base.html" %}
{% block content %}
    <div>
    <h1>About Page</h1>
        <p>Here you will find more information about the website's current features.</p>
    </div>

    <h5><u>Register</u></h5>
        <p> - user registration using unique email and password</p>
    <h5><u>Log In</u></h5>
        <p> - users are able to log in with their unique email and password</p>
    <h5><u>Workout Log</u></h5>
        <p> - users can log workouts including details such as name, weight, repetitions, and sets.</p>
        <p> - users can view past workouts that have been logged</p>
        <p> - users can update workouts that have been logged in the past</p>
        <p> - users can delete workouts that have been logged in the past</p>
    <h5><u>BMI Calculator</u></h5>
        <p> - users are able to calculate their bmi and receive info regarding their result</p>
    <h5><u>Random Workout Generator</u></h5>
        <p> - users can generate a random workout to add into their routine</p>
{% endblock content %}